/* ----------------------- Navbar ----------------------- */


/* style pour le navbar */

.bg-dark {
    background-color: rgb(51, 63, 80) !important;
    padding: 0px;
}


/* style pour les différents champ de navbar */

.navbar-dark .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 15px;
    color: white;
}

.navbar-dark .navbar-nav .nav-item {
    margin: 0 9px;
}

.nav-link {
    margin-top: 3px;
}


/* style pour le logo de site */

#logo-img {
    width: 73px;
    background-color: white;
    background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.185), rgba(0, 0, 255, 0.472));
    border-radius: 5px;
    margin-left: 15px;
}


/* style pour le nom de logo */

#name-logo {
    margin-top: 10px;
    width: 150px;
}


/* -----------------------Footer----------------------- */


/* style pour le footer */

.page-footer {
    background-color: rgb(51, 63, 80) !important;
}


/* style pour le copyright */

#Copyright {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Grande', sans-serif;
}


/* style pour le choix de la langue */

.langue {
    color: rgba(0, 204, 255, 0.911) !important;
}


/* style pour les réseau sociaux */

.fa-big {
    font-size: 19px;
}


/* -------------------Style général pour l'ensemble des pages-------------------- */


/* Style pour le fond */

body {
    background-color: rgba(241, 241, 239, 0.4);
    font-family: "Tahoma", Arial, sans-serif;
}

.bold-text {
    font-weight: bold;
}

.space-bottom-title {
    padding-top: 20px;
}


/* ------------------- Style css pour la page historique_trajet.php ------------------- */

.fond-passager-row {
    background-color: rgb(251, 229, 200);
}

.fond-conducteur-row {
    background-color: rgb(247, 206, 151);
}


/* ------------------- Style css pour les input des formulaires (:focus : garder la couleur quand l'user clique sur le input ------------------- */

.input-form,
.input-form:focus {
    background-color: rgb(251, 229, 200) !important;
    border-color: rgb(251, 229, 200) !important;
    border-radius: 5px !important;
    box-shadow: 2px 2px 3px 0px #6e6e6e !important;
    height: 30px !important;
    padding-left: 10px;
}

.input-form-file,
.input-form-file:focus {
    background-color: rgb(251, 229, 200) !important;
    border-color: rgb(251, 229, 200) !important;
    border-radius: 5px !important;
    box-shadow: 2px 2px 3px 0px #6e6e6e !important;
    height: 38px !important;
    padding-left: 10px;
    margin-top: 5px;
    padding-top: 5px;
    width: 102%;
}

.textarea-form,
.textarea-form:focus {
    background-color: rgb(251, 229, 200) !important;
    border-color: rgb(251, 229, 200) !important;
    border-radius: 5px !important;
    box-shadow: 2px 2px 3px 0px #6e6e6e !important;
    padding-left: 10px;
    width: 102%;
}


/* Affichage de 2 input sur la même ligne pour les formulaires */

@media screen and (min-width: 992px) {
    .col-right-input {
        display: inline-block;
        width: 40%;
    }
    .col-left-input {
        float: right;
        width: 40%;
    }
    .col-right-input-accueil {
        display: inline-block;
        width: 48%;
    }
    .col-left-input-accueil {
        float: right;
        width: 48%;
    }
    .col-right-input-trajet {
        display: inline-block;
        width: 60%;
    }
    .col-left-input-trajet {
        float: right;
        width: 35%;
    }
    .col-button-trajet {
        padding-left: 20%;
    }
}

@media screen and (max-width: 991px) {
    .col-right-input {
        display: block;
        padding-bottom: 20px;
    }
    .col-right-input-accueil {
        display: block;
        padding-bottom: 20px;
    }
    .col-right-input-trajet {
        display: block;
        padding-bottom: 20px;
    }
    /* Page notation */
    .rating-css div {
        white-space: nowrap;
        color: #ffe400;
        font-size: 15px;
        font-family: sans-serif;
        font-weight: 800;
        transform: scale(0.8);
        /*text-align: center;*/
        text-transform: uppercase;
        padding: 10px 0;
    }
}


/* Style pour les boutons de formulaires */

.button-form {
    display: flex;
    align-items: center;
    background-color: rgb(143, 170, 220);
    color: white;
    border-color: rgb(143, 170, 220);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0px #6e6e6e;
}

.button-form:hover {
    display: flex;
    align-items: center;
    background-color: rgb(143, 170, 220);
    color: white;
    border-color: rgb(143, 170, 220);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0px #6e6e6e;
    transform: scale(1.1);
}


/* Taille du captcha pour les petites résolution */

@media screen and (max-width: 302px) {
    .captcha-resize {
        padding: 0 auto;
        transform: scale(0.60);
        -webkit-transform: scale(0.60);
        transform-origin: center center;
        -webkit-transform-origin: center center;
    }
}


/* ------------------- Style pour la page user.php  ------------------- */


/* Style pour les boutons avec icone de formulaires */

.button-icon {
    background-color: rgb(251, 229, 200);
    border-color: rgb(1251, 229, 200);
    width: 170px;
    height: 170px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0px #6e6e6e;
    padding: 0 auto;
    cursor: pointer;
    margin: 20 auto;
}

.button-icon:hover {
    background-color: rgb(135, 160, 199);
    transform: scale(1.1, 1.1);
}


/* ===== Style de l'icone dans le bouton ===== */

.icon-button {
    width: 50%;
    height: 50%;
    padding: 0 auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}


/* environnemnet du bouton */

.espace-bottom {
    padding-bottom: 40px;
}


/* ------------------- Style css pour la page connexion /* ------------------- */

#rememberMe {
    margin: .4rem;
    height: 18px;
    width: 18px;
    box-shadow: 2px 2px 3px 0px #6e6e6e !important
}


/* Style css pour centrer les titres */

.center-title {
    text-align: center;
}


/* ------------------- Style css pour la page trajet en cours ------------------- */

.cadre-arrondis {
    min-height: 100px;
    border: 1px solid #a8a3a3;
    border-radius: 30px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.small-cadre-arrondis {
    min-height: 50px;
    border: 1px solid #a8a3a3;
    border-radius: 30px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
}

.ligne {
    border-top: 1px solid #a8a3a3;
    margin-left: 5%;
    margin-right: 5%;
}

.button-fond {
    background-color: rgb(249, 249, 248);
    border: 1px solid rgb(249, 249, 248);
}


/* ------------------------ Style css pages messages ----------------------- */

.balise-message-lu {
    background-color: green;
    border: 1px solid green;
}

.balise-message-non-lu {
    background-color: rgb(197, 6, 6);
    border: 1px solid rgb(197, 6, 6);
}

.balise-message {
    border-radius: 10px;
    color: white;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .balise-non-lu-small {
        font-size: 10px;
    }
    /* Page Qui-sommes-nous ? */
    .gallery {
        background-color: rgb(251, 229, 200);
        border-color: rgb(251, 229, 200);
        border-radius: 5px;
        box-shadow: 2px 2px 3px 0px #6e6e6e;
        margin-bottom: 20px;
        min-height: 200px;
    }
}

.table td,
.table th {
    text-align: center;
}

.input-select {
    background-color: rgb(251, 229, 200) !important;
    border-color: rgb(251, 229, 200) !important;
    border-radius: 5px !important;
    box-shadow: 2px 2px 3px 0px #6e6e6e !important;
    width: 102%;
    padding-left: 10px;
}

.field-message {
    background-color: rgb(251, 229, 200) !important;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid black;
    height: 400px;
    overflow-y: auto;
}


/* Taille en largeur de la scrollbar */

.field-message::-webkit-scrollbar {
    width: 20px;
    height: 280px;
}


/* Couleur de la scrollbar (track) */

.field-message::-webkit-scrollbar-track {
    background: rgb(51, 63, 80);
    border-radius: 0px 40px 0px 0px;
}


/* Couleur de la scrollbar (thumb) */

.field-message::-webkit-scrollbar-thumb {
    background: rgb(111, 144, 206);
    border-radius: 0px 50px 0px 0px;
    background-clip: padding-box;
}

.message-user-left {
    background-color: rgb(135, 160, 199);
    border-radius: 10px;
    min-height: 30px;
    padding-left: 3%;
    padding-right: 3%;
    width: 40%;
    margin-top: 20px;
    box-shadow: 2px 2px 3px 0px #6e6e6e !important
}

.message-user-right {
    background-color: rgb(135, 160, 199);
    border-radius: 10px;
    min-height: 30px;
    padding-left: 3%;
    padding-right: 3%;
    width: 40%;
    margin-left: 60%;
    margin-top: 20px;
    box-shadow: 2px 2px 3px 0px #6e6e6e !important
}

.small-text-chat-left {
    font-size: 12px;
    padding-left: 2%;
    color: black;
    width: 40%;
}

.small-text-chat-right {
    font-size: 12px;
    padding-left: 2%;
    color: black;
    margin-left: 60%;
}

.button-form-message {
    display: flex;
    align-items: center;
    background-color: rgb(143, 170, 220);
    color: white;
    border-color: rgb(143, 170, 220);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    height: 30px;
    box-shadow: 2px 2px 3px 0px #6e6e6e;
    margin: 0 auto;
}

.button-form-message:hover {
    display: flex;
    align-items: center;
    background-color: rgb(143, 170, 220);
    color: white;
    border-color: rgb(143, 170, 220);
    padding-left: 30px;
    padding-right: 30px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0px #6e6e6e;
    transform: scale(1.1);
}

.input-form-message,
.input-form-message:focus {
    background-color: rgb(251, 229, 200) !important;
    border-color: rgb(251, 229, 200) !important;
    border-radius: 5px !important;
    box-shadow: 2px 2px 3px 0px #6e6e6e !important;
    height: 30px !important;
}


/* -------------- Style css pour la page mes trajet en cours -------------- */

.btn-md img:hover {
    opacity: 0.5;
}

@media screen and (max-width: 769px) {
    /*  Css Mes trajet sen cours*/
    .user-info {
        padding: 0% !important;
        margin: 0% !important;
        /* left: -1rem; */
    }
    .user-info span {
        padding: 0% !important;
        margin: 0% !important;
    }
    .btn-accept,
    .btn-refuse {
        width: 30%;
        left: 2.5rem;
    }
    /* Cs Reservation en cours */
    .passager-reserv div {
        font-size: 16px;
        font-family: "Tahoma", Arial, sans-serif;
        text-align: left !important;
        margin-left: 0% !important;
        margin-right: 0%;
    }
    .btn-payer,
    .btn-annuler {
        left: auto;
        width: auto;
    }
    #detail-trajet {
        left: -2.5rem !important;
    }
    /* Model de résultat de recherche de trajet */
    .v-list-item__title {
        margin-left: 5em !important;
    }
    .detail-trajet,
    .places-dispo,
    .prix {
        margin: 4px;
        padding: 15px;
        font-size: 18px;
        font-family: "Tahoma", Arial, sans-serif;
        text-align: left !important;
    }
    .detail-trajet {
        margin-bottom: 24px;
    }
    .h-divider {
        margin-left: 5%;
        margin-right: 5%;
    }
    .lieu-depart {
        width: 43%;
        position: absolute;
        left: -3.3em;
    }
    .temps-image {
        position: absolute;
        font-size: 16px;
        width: 20%;
        margin-left: 6.3em !important;
        padding-right: 18% !important;
    }
    .temps-image img {
        width: 47px !important;
        height: 17px;
        margin-left: 18% !important;
    }
    .temps-image div {
        padding: 0% !important;
        margin: 0% !important;
    }
    .lieu-arrive {
        width: 43%;
        margin-left: 10em !important;
    }
    .places-dispo {
        width: 40%;
    }
    .prix {
        width: 40%;
        text-align: right !important;
    }
    /* Css Mes trajets en cours */
}


/* -------------- Style css pour le model de résultat de recherche d'un trajet -------------- */


/* le séparateur horizontal */

.h-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-top: 2px solid gray;
}

.border {
    border-radius: 20px;
    height: 80%;
}

.rounded-circle {
    border: 2px solid gray;
}

.text-h6 {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}

@media screen and (max-width: 380px) {
    .temps-image {
        font-size: 14px;
        margin-left: 23% !important;
        padding-right: 0% !important;
    }
    .temps-image img {
        margin-left: -1px !important;
    }
    .lieu-arrive {
        width: 43%;
        margin-left: auto !important;
    }
    .text-h6 {
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }
    /* Css Mes trajets en cours */
    .btn-accept img,
    .btn-refuse img {
        width: 34px;
        height: 34px;
        padding-left: auto;
        margin-left: auto;
    }
    .btn-accept,
    .btn-refuse {
        left: 1.5rem;
    }
}


/* -------------- Style css pour la page mes trajet en cours -------------- */

.btn-md img:hover {
    opacity: 0.5;
}


/* -------------- Style css pour la page confirmation d'annuler mon trajet -------------- */

.media {
    font-weight: bolder;
    font-size: 18px;
    padding-left: 5rem;
}

.media p {
    padding-left: 22px;
}

.media img {
    margin-top: 5px;
}

.btn-profil {
    margin-left: 15rem;
}

@media screen and (max-width: 481px) {
    .media {
        padding-left: 0% !important;
    }
    .media img {
        max-width: 40%;
        height: auto;
        margin-top: 20px;
    }
    .btn-profil {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 482px) and (max-width: 768px) {
    .btn-profil {
        margin-left: 5%;
        margin-right: 5%;
    }
}


/* -------------- Style css pour le modal -------------- */

.modal-dialog {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.modal-content {
    background-color: rgb(237, 237, 237);
    border-radius: 5px !important;
}

.modal-body {
    text-align: center;
    font-weight: bold;
}

.modal-footer button {
    padding: 14px 40px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

@media screen and (max-width: 372px) {
    .modal-footer button {
        margin: auto;
        padding: auto;
        width: auto;
        height: auto;
        margin-bottom: 10px;
    }
}


/* -------------- Style css pour la page notation -------------- */

.rating-css div {
    color: #ffe400;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 0;
}

.rating-css input {
    display: none;
}

.rating-css input+label {
    font-size: 30px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}

.rating-css input:checked+label~label {
    color: #b4afaf;
}

.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.star {
    visibility: hidden;
    cursor: pointer;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.star:before {
    content: '\2605';
    visibility: visible;
}

.star:checked:before {
    content: "\2605";
    color: #ffe400;
    text-shadow: 1px 1px 0 #8f8420;
}


/* -------------- Style pour la page qui-sommes-nous -------------- */

.margin-bottom-div {
    margin-bottom: 15px;
}

.gallery {
    background-color: rgb(251, 229, 200);
    border-color: rgb(251, 229, 200);
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0px #6e6e6e;
    margin-bottom: 20px;
    min-height: 250px;
}

div.floatLeft {
    float: left;
}

div.gallery img {
    width: 120px;
    height: 130px;
    border-radius: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

div.desc {
    padding: 15px;
    text-align: justify;
    text-indent: 10px;
}


/* Test apparition div au chargement surl a page /commun/user */

.vignets {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.vignets.load {
    opacity: 1;
}